<div class="flex flex-column justify-content-center gap-2 m-auto sm:w-12 md:w-12 lg:w-10 xl:w-8">
    <p-toolbar>
        <div class="p-toolbar-group-start">
            <div class="icon">
                <a routerLink="/home" routerLinkActive="active">
                    <img src="icon.png" width="40" height="40" alt="icon" />
                </a>
            </div>
        </div>
        <div class="p-toolbar-group-end">
            <p-dropdown 
                [options]="wallets" 
                [(ngModel)]="selectedWallet" 
                optionLabel="name" 
                placeholder="Select a Wallet" />
            <p-button (onClick)="connect()" label="Connect" icon="pi pi-sign-in" iconPos="right" class="ml-2" [raised]="true" severity="success" />
        </div>
    </p-toolbar>
    <router-outlet />
    <footer class="flex justify-content-end w-12 p-2 mt-2 mb-1 gap-1 surface-50">
        <div class="text-xs font-italic text-600">Lumix &#64;{{getYear()}}</div>
    </footer>
</div>